@model Lesson11Dbs.Models.Tacgia

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/Dtl_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Tacgia</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DtlTenTG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DtlTenTG)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DtlMaTG }) |
    @Html.ActionLink("Back to List", "Index")
</p>
