@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Use this area to provide additional information.</p>
    <pre>
        MÃ sv:221090036
        Họ tên: Đào thị thùy linh
        Ngày sinh:4/7/2004
        Điện thoại:09594254
        Email:
    </pre>
</main>