@model DtlLesson10.Models.khoa

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>khoa</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DtlMaKH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DtlTenKH)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Dtl:Edit", "DtlEdit", new { id = Model.DtlMaKH.Trim() }) |
    @Html.ActionLink("Back to List", "DtlIndex")
</p>
