@{
    ViewBag.Title = "Đào thị thùy linh";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>bài tập ôn tập</h3>

    <address>
        K22CNT1
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:thanhthao@gmail.com">thanhthao@gmail.com</a><br />
        <strong>Cá nhân:</strong> <a href="mailto:thuylinh@gmail.com">thuylinh@gmail.com</a>
    </address>
</main>