@{
    ViewBag.Title = "Đào thị thùy linh";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>Bài thi giữa kì của Đào thị thùy linh - cam kết ko đạo văn </h3>

    <address>
        K22CNT1- môn LT ứng dụng web với công nghệ asp.net MVC 5
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:thanhthao@gmail.com">thanhthao@gmail.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:thuylinh@gmail.com">thuylinh@gmail.com</a>
    </address>
</main>